.popup_form {
    width: 100%;

    .popup-content {
        width: 35%;
        margin: 0 auto;
        padding: 2% 5%;
        height: auto;
        /* Изменил высоту на автоматическую */
        max-height: 80vh;
        /* Добавил максимальную высоту */
        overflow-y: auto;
        /* Добавил прокрутку при необходимости */
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .yellow-circle {
        color: #111;
        font-size: 20px;
    }

    .close-popup {
        background: none;
        border: none;
        cursor: pointer;
    }

    .close-popup img {
        width: 70%;
        /* Увеличил размер изображения */
    }

    .last_form-content {
        margin-top: 20px;
    }

    .last_form-content h2 {
        font-size: 36px;
        /* Уменьшил размер заголовка */
        color: #111111;
        text-align: center;
        /* Выравнивание по центру */
    }

    .last_form-content__right form {
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .input-group {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .form-group {
            width: 48%;
            /* Изменил ширину группы полей */
        }
    }

    input[type="text"],
    input[type="email"],
    select {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
    }

    .select_programm {
        margin-top: 3%;
        width: 100%;
        /* Изменил ширину выпадающего списка */
    }

    .checkbox-container {
        margin-top: 20px;
        /* Увеличил отступ */
        font-size: 16px;
        color: #333;
    }

    .checkbox-container input {
        margin-top: 15px;
        /* Увеличил отступ */
    }

    .send {
        position: absolute;
        background-color: #111;
        color: #fff;
        top: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        right: 65%;
    }

    .invalid {
        border: 1px solid red !important;
    }
}


@media only screen and (max-width: 1440px) {
    .popup_form {

        & .popup-content {
            height: 100%;
        }

        .send {
            right: 60%;
            top: 82%;
            padding: 5px;
        }

        & .select_programm {
            width: 105%;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .popup_form {

        & .last_form-content h2 {
            font-size: 30px;
            text-align: left;
        }


        .send {
            right: 50%;
            top: 80%;
            padding: 4px;
        }

    }
}

@media only screen and (max-width: 768px) {
    .popup_form {

        .popup-content {
            width: 45%;
        }


        & .last_form-content h2 {
            font-size: 25px;
        }


        .send {
            right: 50%;
            top: 75%;
            padding: 4px;
        }

    }
}

@media only screen and (max-width: 425px) {
    .popup_form {
        & .yellow-circle {
            margin-top: 25px;
        }

        & .close-popup {
            margin-right: 25px;
        }

        .popup-content {
            width: 80%;
            padding: 0 20%;
        }


        & .last_form-content h2 {
            font-size: 25px;
            margin-top: 15%;
        }

        .send {
            right: 52%;
            top: 85%;
            font-size: 30px;
            padding: 5px;
        }

    }
}

@media only screen and (max-width: 375px) {
    .popup_form {

        .send {
            right: 52%;
            top: 85%;
            font-size: 25px;
            padding: 5px;
        }
    }
}

@media only screen and (max-width: 320px) {
    .popup_form {

        & .select_programm {
            width: 109%;
        }

        .send {
            right: 55%;
            font-size: 20px;
        }
    }
}