.reviews {
    & .slider-control {

        & #left {
            position: absolute;
            right: 100px;
        }

        & #right {
            position: absolute;
            right: 0;
        }
    }

    & .carousel {

        & .card {
            border: 2px solid #f2f2f2;
            border-radius: 0;
            padding: 50px 25px 80px 25px;

            & p {
                text-align: left;
                font-size: 20px;
            }

            & .profile_review {
                display: flex;
                align-items: center;
                justify-content: left;
                margin-top: 40px;

                & .profile_img {

                    & img {
                        width: 60px;
                        height: 60px;
                        margin-right: 20px;
                        border-radius: 50%;
                    }
                }

                & .star {
                    & span {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .reviews {

        & .slider-control {

            & .slider-title {
                font-size: 45px;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .reviews {

        & .slider-control {

            & #left {
                position: absolute;
                right: 70px;
            }
    
            & #right {
                position: absolute;
                right: 0;
            }

            & .slider-title {
                font-size: 20px;
            }
        }
    }
}